.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 22px;
}

.trackContainer {
  height: 88px;
  display: flex;
  width: 100%;
}

.trackInner {
  height: 80px;
  width: 100%;
  align-self: center;
  position: relative;
}

.trackBackground {
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  bottom: 0;
  z-index: 20;
  border-radius: 4px;
}

.trackHelperText {
  z-index: 25;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #777;
}

.thumbButton {
  display: flex;
  margin: 0;
  padding: 0;
  height: 44px;
  width: 44px;
  box-sizing: border-box;
  position: relative;
  outline: none;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
  font-family: Menlo, Consolas, monospace;
  font-weight: bold;
}

/* Note: Focus state is handled dynamically with inline styles */
.thumbButton.error,
.thumbButton.error:focus {
  color: #c00 !important;
  border-color: #c00 !important;
}

.thumbButtonContainer {
  position: relative;
}

.stepTime {
  position: absolute;
  top: 4px;
  left: -1rem;
  right: -1rem;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}